{% autoescape off %}
Hi {{ user.first_name|default:user.get_username }},

We received a request to reset your password. You can create a new one using the link below:

{{ protocol }}://{{ domain }}{% url 'helpdesk:password_reset_confirm' uidb64=uid token=token %}

If you didn’t request a password reset, please ignore this message or contact us if you have any concerns.

If you need further assistance, reach out to us at: mapactivephsmartsupport@gmail.com

Best regards,
MAP Active PH SmartSupport

{% endautoescape %}
