{% load i18n %}
<!-- Sticky Footer (centered) -->
<footer class="sticky-footer" style="background-color: #ffffff; width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center py-2">
                <span style="font-family: 'Roboto', Arial, sans-serif; font-size:12px;">Powered by <img src="/static/helpdesk/img/PrimeDesklogo.png" alt="PrimeDesk Logo" style="height:20px;vertical-align:middle;margin-left:5px;"></span>
            </div>
        </div>
    </div>
</footer>