{% load i18n %}
{% load static %}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'helpdesk/base-head.html' %}
    {% block helpdesk_head %}{% endblock %}

</head>

<body id="bg-dark">

{% block header %}
    <!-- Slim header for public/auth pages -->
    <div class="container-fluid px-0" style="background-color: #0b1333;">
        <div class="row align-items-center" style="min-height: 50px;">
            <div class="col-12" style="display:flex; align-items:center; justify-content:center;">
                <a href="/" style="color:#fff; text-decoration:none; font-weight:600;">PrimeDesk</a>
            </div>
        </div>
    </div>
{% endblock %}

        <div id="wrapper">
                <div id="content-wrapper">
                        <div class="container-fluid">
                                {% block helpdesk_body %}{% endblock %}
                        </div>
                        <!-- /.container-fluid -->
                        {% include "helpdesk/attribution.html" %}
                </div>
                <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

    {% include "helpdesk/debug.html" %}
    {% include 'helpdesk/base_js.html' %}
    {% block helpdesk_js %}{% endblock %}
</body>
</html>
{% endwith %}
