<div class="modal fade" id="followupEditModal" tabindex="-1" role="dialog" aria-labelledby="followupEditModalLabel" aria-hidden="true" data-followup-id="{{ followup.id }}">
{% load i18n %}
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followupEditModalLabel">{% trans "Edit Follow Up" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'helpdesk/include/followup_edit_form.html' %}
        
  {# Attachments are rendered by followup_edit_form.html included above. #}
      </div>
    </div>
  </div>
</div>

